{% extends 'base.html.twig' %}

{% block title %}Accueil - Wild Figurines{% endblock %}

{% block body %}
    <main class="container">
        <h1 class="text-center p-5">Wild Figurines</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Marque</th>
                    <th>Prix</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{product.name}}</td>
                        <td>{{product.brand}}</td>
                        <td>{{product.price}}€</td>
                        <td>
                            <a href="{{path('app_product_details', {'id': product.id})}}">Voir</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}
